body {
    background-color: #000;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.magic-box {
    width: 200px;
    height: 300px;
    margin: 0 auto 20px;
    border: 2px solid #fff;
    position: relative;
    perspective: 1000px;
}

.card {
    width: 100%;
    height: 100%;
    background-color: red;
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

button {
    background-color: #ff0000;
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2500cc;
}
